<!DOCTYPE html>
<html>
<head>
    <title>Broadcast Messages</title>
</head>
<body>
    <h1>Broadcast Messages</h1>
    <section>
        <h2>Send message:</h2>
        <form action="/messages" method="post">
            <input type="text" name="message">
            <input type="submit" value="Send">
        </form>
    </section>

    <section>
        <h2>Websocket Broadcast</h2>
        <p>
            <a href="/broadcast" target="_blank">Open broadcast in a new tab!</a>
        </p>
    </section>
</body>
</html>
